* {
    box-sizing: border-box;
}

:root {
   --dark-color:#2C2E2D;
   --white-color:#F9FBFC;
   --main-color:rgb(161 236 255);
   --second-color:#fdd1ea;
   --opacity-main-color: rgba(161, 236, 255, 0.9);
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin:0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #bcb0b0;
}

.wrapper {
    margin: 20px auto;
    max-width: 1280px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.dark {
    color: var(--dark-color);
}

.h1 {
    margin: 0;
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
}

.container-right {
    padding: 30px 60px;
    width: 65%;
    background-color: var(--white-color);
}

.container-left {
    padding: 30px 100px;
    width: 35%;
}

.h2 {
    text-transform: uppercase;
}

.side-line {
    overflow: hidden;
}

.side-line span {
    display: f;
    vertical-align: middle;
}

.side-line:after {
    content: "";
    position: relative;
    right: -14px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 3px;
    margin-right: -100%;
    background-color: var(--dark-color);
}

/******************************Header*/
.section.contacts {
    display: flex;
    order: 2;
    margin-top: -248px;
    background-color: rgba(161, 236, 255, 0.9);
}

.basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.section-subtitle {
    font-size: 34px;
}

.basic-contacts {
    padding: 0 10px;
    background-color: var(--white-color);
}

.basic-contacts,
.basic-contacts .links {
    display: flex;
    flex-direction: column;
}

.basic-contacts > div,
.basic-contacts .links > div {
    display: flex;
    margin-bottom: 8px;
}

.basic-contacts > div:last-child,
.basic-contacts .links > div:last-child {
    margin-bottom: 0px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 22px;
    color: var(--second-color);
    background-color: var(--dark-color);
}

.basic-contacts .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.basic-contacts .content span:first-child {
    font-weight: bold;;
}

.basic-contacts a {
    color: var(--dark-color);
    text-decoration: none;
}

.basic-contacts a:hover {
    text-decoration: underline;
}

.profile-info {
    display: flex;
    order: 1;
    justify-content: space-between;
}

.profile-info .photo {
    width: 35%;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.top-menu a {
    color: var(--dark-color);
    text-decoration: none;
}

.top-menu a:hover {
    text-decoration: underline;
}

/******************************.Header*/

/****************************** Main*/

.inner {
    display: flex;
    justify-content: space-between;
}

.container-left.dark {
    color: var(--white-color);
    background-color: var(--dark-color);
}

.timeline {
    line-height: 1.4em;
    list-style: none;
    padding: 0;
    width: 100%;
}

.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.timeline-marker {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    width: 15px;
}

.timeline-marker:before {
    content: "";
    position: absolute;
    top: 4px; 
    left: 0;
    display: block;
    height: 15px;
    width: 15px;
    border: 3px solid transparent;
    border-radius: 100%;
    background: var(--main-color);
    transition: 0.3s ease-in-out;
}

.timeline-marker:after {
    content: "";
    position: absolute;
    top: 25px; 
    bottom: 0; 
    left: 9px;
    display: block;
    width: 3px;
    background: var(--second-color);
}

.timeline-item:last-child:after {
        content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid var(--main-color);
}

.timeline-content {
    padding-bottom: 40px;
}

/******************************.Main*/

/******************************Footer*/

.footer {
    display: flex;
    justify-content: space-between;
}

.footer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer .container-right {
    justify-content: space-between;
    background-color: var(--main-color);
}

.footer .link-git a {
    font-size: 20px;
    color: var(--white-color);
}

.footer .link-git i {
  margin-right: 10px;
  font-size: 30px;
}

.footer .year {
    font-size: 30px;
    font-weight: bold;
}

.code-example {
    color: var(--white-color);
    background-color: var(--dark-color);
}

/******************************.Footer*/